.HomeNavBar {
    color: white;
    background: rgb(0, 255, 175) !important;
    background: linear-gradient(90deg, rgba(0, 255, 175, 1) 0%, rgba(115, 0, 255, 1) 100%) !important;
}

.navbar-header {
    font-size: 20px;
}

.dashboard-container{
    margin-top: 3em !important;
    margin-left: 18em !important;
}