.HomeNavBar {
    color: white;
    background: rgb(38, 70, 83);
    background: linear-gradient(90deg, #845EC2, #d65db1, #FF6F91) !important;
}

.navbar-header {
    font-size: 20px;
}

.container__dashboard {
    height: 100%;
    display: flex;
}

.container__sidebar {
    width: 18rem;
    overflow: auto;
}

.container__main {
    /* Take the remaining width */
    flex: 1;
    /* Make it scrollable */
    overflow: auto;
    background-color: #F8F8F8 !important;
    padding: 30px;
}

.sidebar__stick {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgb(38, 70, 83) !important;
    overflow-x: hidden;
    padding-top: 42px;
    z-index: 50 !important;
}

.statuses__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 1;
    overflow-x: hidden;
    padding-top: 42px;
}

.dashboard__navbar {
    background: rgb(27, 52, 61) !important;
    z-index: 49 !important;
}